<div class="movieOpenerContainer">
  <div class="movieImageContainer">
    <img [src]="TvShowTitle.Series_Poster" class="movieImage" loading="lazy">
  </div>
  <div class="movieDataContainer">
    <div class="movieName">{{TvShowTitle.Series_MainName}}</div>
    <div class="secondaryData">
      <div>{{TvShowTitle.Series_ReleaseYear}} | {{TvShowTitle.Series_AltNames}} | {{TvShowTitle.Series_IMDB_ID_TAG_ID}}</div>
      <div>{{TvShowTitle.Series_Genre}}</div>
    </div>
    <div class="descriptionData">
      {{TvShowTitle.Series_ExtraInformation}}
    </div>
  </div>
  <div class="movieLinksContainer">
    <div class="cardsContainer">
      <div style="font-size: 18px; margin-bottom: 20px;">
        <nz-select [(ngModel)]="selectSeason" (ngModelChange)="SeasonUpdated()" style="width: 100%; max-width: 400px;">
          <nz-option [nzValue]="season.Season_Id" [nzLabel]="season.Season_Name" *ngFor="let season of TvShowSeasons; let i = index"></nz-option>
        </nz-select>
      </div>
      <div class="card" *ngFor="let episode of currentEpisodes;" (click)="showEpisodeLinksModel(episode)">
        <div class="card-head" style="border-bottom: 0px;">
          <div style="font-size: 15px;" class="card-row">{{episode.Episode_Number}}. {{episode.Episode_Name}}</div>
          <div style="font-size: 12px; color: #a3a3a3; padding-top: 5px;" class="card-row">Release Date - {{getFormatedDate(episode.Episode_ReleaseDate)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<gs-modal [showModal]="showEpisodeLinksModal" [showFooter]="false" (closeModal)="hideLinksModal($event)" modalWidth="1200px" modalHeight="600px" modalBackgroundColor="#00000066" HeaderBackgroundColor="#28282B" ContentBackgroundColor="#28282B">
  <div header>Links - {{selectedEpisode.Episode_Number}}. {{selectedEpisode.Episode_Name}}</div>
  <div content style="height: 100%;">
    <div class="movieLinksContainer">
      <div class="cardsContainer">
        <div class="card" *ngFor="let link of currentLinks; let i = index" (click)="showLinksModal(link)">
          <div class="card-head">
            <div style="font-size: 15px;" class="card-row">{{i + 1}}. Quality - {{link.Link_Quality}}</div>
            <div style="font-size: 12px; color: #a3a3a3" class="card-row">Audio - {{link.Link_Language}}</div>
            <div style="font-size: 12px; color: #a3a3a3" class="card-row">Subtitles - {{link.Link_Subtitles}}</div>
          </div>
          <div class="card-foot">
            <div style="font-size: 12px;">File Size - {{link.Link_Size}}</div>
            <div style="font-size: 12px;">Streamable - {{link.Streamable}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</gs-modal>

<gs-modal [showModal]="showLinkModal" [showFooter]="false" (closeModal)="hideLinkModal($event)" modalWidth="1200px" modalHeight="600px" modalBackgroundColor="#00000066" HeaderBackgroundColor="#28282B" ContentBackgroundColor="#28282B">
  <div header>Link</div>
  <div content style="height: 100%;">
    <div class="linkModalContentContainer">
      <div class="movieLinksContainer">
        <table class="LinkDataTable">
          <tbody>
            <tr>
              <td width="30%">Language</td>
              <td width="70%">{{selectedLink.Link_Language}}</td>
            </tr>
            <tr>
              <td width="30%">Quality</td>
              <td width="70%">{{selectedLink.Link_Quality}}</td>
            </tr>
            <tr>
              <td width="30%">Subtitles</td>
              <td width="70%">{{selectedLink.Link_Subtitles}}</td>
            </tr>
            <tr>
              <td width="30%">Streamable</td>
              <td width="70%">{{selectedLink.Streamable}}</td>
            </tr>
            <tr>
              <td width="30%">Size</td>
              <td width="70%">{{selectedLink.Link_Size}}</td>
            </tr>
            <tr>
              <td width="30%">Password</td>
              <td width="70%" style="cursor: copy;" (click)="_cs.CopyToClipboard(selectedLink.Link_Password)">{{selectedLink.Link_Password}}</td>
            </tr>
            <tr>
              <td width="30%">Buttons</td>
              <td width="70%">
                <div class="buttonsContainer">
                  <div class="buttonContainer">
                    <button nz-button nzType="default" nzDanger class="linkButton" (click)="_cs.OpenLink(selectedLink.Link_link)">Open Link</button>
                  </div>
                  <div class="buttonContainer">
                    <button nz-button nzType="default" nzDanger class="linkButton" (click)="_cs.CopyToClipboard(selectedLink.Link_link)">Copy Link</button>
                  </div>
                  <div class="buttonContainer">
                    <button nz-button nzType="default" nzDanger class="linkButton" (click)="ViewLink(selectedLink.Link_link, true)">View Link</button>
                  </div>
                  <div class="buttonContainer">
                    <button nz-button nzType="default" nzDanger class="linkButton" (click)="_cs.OpenLink(_cs.CreateDirectLinkFromLink(selectedLink.Link_link))">Open Direct Link</button>
                  </div>
                  <div class="buttonContainer">
                    <button nz-button nzType="default" nzDanger class="linkButton" (click)="ViewLink(selectedLink.Link_link, false)">View Direct Link</button>
                  </div>
                  <div class="buttonContainer">
                    <button nz-button nzType="default" nzDanger class="linkButton" (click)="_cs.CopyToClipboard(_cs.CreateDirectLinkFromLink(selectedLink.Link_link))">Copy Direct Link</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <gs-modal [showModal]="showViewModal" [showFooter]="false" (closeModal)="hideViewModal($event)" modalWidth="1100px" modalHeight="550px" modalBackgroundColor="#00000066" HeaderBackgroundColor="#28282B" ContentBackgroundColor="#28282B">
          <div header>View</div>
          <div content style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" [innerHTML]="viewRawHTML | safe:'html'">
          </div>
        </gs-modal>
      </div>
    </div>
  </div>
</gs-modal>
