.searchAndFiltersContainer{
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.filterContainer{
  margin: 10px 0px;
  color: black;
}

.searchContainer{
  margin: 10px 0px;
}

.linkButton{
  background-color: rgb(45, 0, 0);
  color: white;
  width: 100%;
}
