<div class="gs-menu">
  <div class="gs-menu-left-container">
    <div class="gs-menu-logo-conatainer">
      <img src="https://lh3.googleusercontent.com/iQ-dsIIxQtxosAwdl2Ge_t6ktbbk4qiCviYWuqMZpxCKHsEkZ9l4gAG6Tzz6rSixJVdl41bvr8dJOVXZJGBcQHLoS8BdqfbEiSBTyR6wqYJ96OX92lAzSuH_mccOJ8DmczFdt72KTy6Rj9EK-X7ZIkXCnpuJWYuK8iHwKweXb9k_EbEP3aCjoV3Zr9uF_ITlKPA2XR_rRpmZtXJmpow0nUFrzUyOxHu_NfoNTAn67gqP6k107mTf1mxwQb62DzRqVgz_dkMqXFOEcJ6DbmJMYy7Zb3dBKlaq81sobNrkfl70zjEUo5Fu5BpKXufvJ3ubcwjTnN8CFddiVolFvSAGaSg13E4AQ3-RrwsRqnPvmvAKrexPMReULiKWAX5h2_UbzKM4780n0dfcIIGo_W47NwJwSePCrnvrjfjR3w11G_m7fDftc7zcWXfI702OfCQojHCK3_eUkK_Rgdmuu8jJr1BAmna-Z9btRyM8GwxO6ee_zB143f3VLD7Wsf5bt2edz2dRiAhwPCpfY6vrMRsrqsvF88EHWSVS01g3ONma6GShbGZ0EModVpn4vvqXcApHGp-KNS8JeYag8Zfg3h37ljrBbHQZTiz80rPVOkcCcBsODGAkWWSOC0JDxEC21qNsu8hvfax7CJpK4YCKEpUzwHJm6ZlzzIRUBrLAIPFGrXCX21tRcPzqHpu_Dt1sGqGxHK-nKWTt5mfeWeaiBA1gLxnrtCCtZM7ZwZpdHfq9xROPVkUgH4LyEOgG21aG=w1280-h346-no?authuser=0" class="gs-menu-logo">
    </div>
    <div class="gs-menu-items">
      <ul>
        <li *ngFor="let menu of menuData"><a (click)="OpenRoute(menu)" class="gs-menu-link-with-active">{{menu.name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="gs-menu-right-container">
    <div class="gs-menu-toggle-container" (click)="OpenMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="gs-menu-toggle-icon"  viewBox="0 0 24 24"><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg>
    </div>
  </div>

  <div class="gs-menu-mobile-view" [ngClass]="{'gs-open': menuOpen}">
    <div class="gs-menu-mobile-exit-click" (click)="CloseMenu()">

    </div>
    <div class="gs-menu-items">
      <ul>
        <li *ngFor="let menu of menuData"><a (click)="OpenRoute(menu)">{{menu.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
