/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */


/*------------------------ Navbar Root ---------------------- */
:root {
  --menuBackgroundColor-gs-menu: black;
  --mobileMenuBackgroundColor-gs-menu: black;
  --menuHeight-gs-menu: 60px;
  --mobileMenuWidth-gs-menu: 300px;
  --menuLinksColor-gs-menu: rgb(247, 247, 247);
  --menuLinksHoverColor-gs-menu: red;
  --activeLinksColor-gs-menu: grey;
  --activeLinkLineColor-gs-menu: grey;
  --activeLinkLineBottom-gs-menu: -22px;
  --mobileMenuExitDivColor-gs-menu: grey;
}
/* ---------------------------------------------------------- */

.navBarContainer{
  height: var(--menuHeight-gs-menu);
}

.routerContainer{
  height: calc(100vh - var(--menuHeight-gs-menu));
  overflow: auto;
  background-color: #222222;
  color: white;
}

/* ------------------------- SCROLL ------------------------- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: sblack;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: red;
}
/* ---------------------------------------------------------- */


.genreName{
  padding-left: 20px;
  font-size: 16px;
}

.genreCarousel{
  margin: 30px 0px;
}

.settings-container{
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  color: white !important;
}

.settings-container .ant-form-item-label>label {
  color: white !important;
}

.settings-container h1{
  color: white !important;
}

.ant-spin-dot-item {
  background-color: red !important;
}
